#project_column {
  margin: 20px;
  padding: 10px 10px;
  text-align: center;
  font-family: 'Open Sans';
  font-size: small;
  /*box-shadow: 0 6px 20px 0 rgba(0, 0, 0, 0.39);*/
}

#project_image {
  border-width: 2px;
  border-style: solid;
  border-color: black;
  border-radius: 10px;
}

@media (max-width: 768px) {
  .flex-row {
    -ms-flex-direction: column!important;
    flex-direction: column!important;
  }
}

body {
  margin: 0;
  font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #212529;
  text-align: left;
  background-color: #fff;
}

@media (min-width: 769px) {
  #biography {
    height: 100vh;
    width: 100vw;
  }
}

@media (max-width: 768px) {
  #biography {
    height: 160vh;
    width: 100vw;
  }
}

@media (min-width: 769px) {
  #Logos {
    width: 80vw;
    height: 70vh;
  }
}

@media (max-width: 768px) {
  #Logos {
    width: 80vw;
    height: 80vh;
  }
}

@media (min-width: 769px) {
  #Bio-Text {
    width: 50vw;
    height: 15vh;
    font-family: 'Open Sans', sans-serif;
    font-size: 15px;
    margin-top: 5vh;
  }
}

@media (max-width: 768px) {
  #Bio-Text {
    width: 80vw;
    height: 60vh;
    font-family: 'Open Sans', sans-serif;
    font-size: 15px;
    margin-top: 5vh;
  }
}

@media (min-width: 769px) {
  #bio_paragraph {
    width: 50vw;
    height: 20vh;
    padding-right: 20px;
    padding-left: 20px;
    color: rgb(0,0,0);
  }
}

@media (max-width: 768px) {
  #bio_paragraph {
    width: 80vw;
    height: 50vh;
    padding-right: 20px;
    padding-left: 20px;
    color: rgb(0,0,0);
  }
}

@media (min-width: 769px) {
  #Logo_Text_Container {
    width: 100vw;
    height: 85vh;
  }
}

@media (max-width: 768px) {
  #Logo_Text_Container {
    width: 100vw;
    height: 160vh;
  }
}

@media (min-width: 769px) {
  #Biography_Heading {
    height: 15vh;
  }
}

@media (max-width: 768px) {
  #Biography_Heading {
    height: 15vh;
    padding-top: 5vh;
  }
}

