#project_column {
  margin: 20px;
  padding: 10px 10px;
  text-align: center;
  font-family: 'Open Sans';
  font-size: small;
  /*box-shadow: 0 6px 20px 0 rgba(0, 0, 0, 0.39);*/
}

#project_image {
  border-width: 2px;
  border-style: solid;
  border-color: black;
  background-color: white;
  border-radius: 10px;
}

#biography {
  height: 100vh;
}

#Logos {
  width: 80vw;
}

@media (min-width: 1000px) {
  #Bio-Text {
    width: 50vw;
    height: 15vh;
    font-family: 'Open Sans', sans-serif;
    font-size: 15px;
    margin-top: 5vh;
  }
}

@media (max-width: 999px) {
  #Bio-Text {
    width: 80vw;
    height: 30vh;
    margin-top: 10vh;
    font-family: 'Open Sans', sans-serif;
    font-size: 15px;
    align-items: center;
    justify-content: center;
    align-content: center;
  }
}

@media (min-width: 600px) {
  #bio_paragraph {
    width: 500px;
    color: rgb(0,0,0);
  }
}

@media (max-width: 599px) {
  #bio_paragraph {
    width: 300px;
    color: rgb(0,0,0);
  }
}

#Logo_Text_Container {
  height: 100vh;
}

@media (max-width: 767px) {
  #Logo_Text_Container {
  }
}

#Biography_Heading {
  height: 15vh;
  margin-top: 15vh;
}

#projects {
  height: 100vh;
}

@media (min-width: 1200px) {
  #project_image {
    width: 300px;
  }
}

@media (max-width: 1200px) {
  #project_image {
    width: 25vw;
  }
}

@media (min-width:768px) {
  .navbar-expand-md {
    -ms-flex-flow: row nowrap;
    flex-flow: row nowrap;
    justify-content: flex-start;
  }
}

@media (min-width:768px) {
  .navbar-expand-md .navbar-collapse {
    display: -ms-flexbox!important;
    display: flex!important;
    -ms-flex-preferred-size: auto;
    flex-basis: auto;
  }
}

@media (min-width:768px) {
  .navbar-expand-md .navbar-nav {
    -ms-flex-direction: row;
    flex-direction: row;
  }
}

@media (min-width:768px) {
  .navbar-expand-md > .container, .navbar-expand-md > .container-fluid {
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
  }
}

@media (min-width: 768px) {
  #Project_Container {
    /*width: 100vw;*/
    height: 90vh;
  }
}

#photo {
  margin-top: 15vh;
  width: 40vh;
  height: 40vh;
  margin-bottom: 5vh;
}

p {
  margin-top: 0;
  margin-bottom: 0;
}

@media (min-width: 768px) {
  #Project_Item {
    width: 30vw;
    height: 30vw;
  }
}

@media (max-width: 999px) {
  #Project_Link {
    pointer-events: none;
  }
}

@media (min-width: 1000px) {
  a:hover {
    color: #0056b3;
    text-decoration: underline;
  }
}

#body {
  width: 100vw;
  align-self: center!important;
  background-color: #EBEDEF;
}

@media (min-width: 600px) {
  #img_kth {
    width: 130px;
    height: 100px;
    margin-bottom: 20px;
    margin-top: 20px;
  }
}

@media (max-width: 599px) {
  #img_kth {
    width: 65px;
    height: 50px;
    margin-top: 10px;
    margin-bottom: 10px;
  }
}

@media (min-width: 600px) {
  .logo_text {
    width: 250px;
    font-family: 'Open Sans';
  }
}

@media (max-width: 599px) {
  .logo_text {
    width: 125px;
    font-size: 12px;
    font-family: 'Open Sans';
  }
}

@media (min-width: 600px) {
  #img_rwth {
    width: 180px;
    height: 70px;
    margin-bottom: 30px;
    margin-top: 40px;
  }
}

@media (max-width: 599px) {
  #img_rwth {
    width: 90px;
    height: 35px;
    margin-bottom: 15px;
    margin-top: 20px;
  }
}

@media (max-width: 767px) {
  #Project_Container {
    height: 90vh;
    /*margin-top: 10vh;*/
  }
}

#Project_Div {
  width: 90vw;
  height: 70vh;
  padding-bottom: 5vh;
  flex-direction: column;
}

@media (min-width: 1200px) {
  .text-center.project_text {
    font-size: 25px;
  }
}

@media (max-width: 1200px) {
  .text-center.project_text {
    font-size: 20px;
  }
}

@media (max-width: 767px) {
  #project_image {
    width: 12vh;
    background-color: white;
  }
}

@media (max-width: 767px) {
  #Project_Item {
    height: 25vh;
  }
}

@media (min-width: 768px) {
  #body {
    margin-top: -10vh;
  }
}

@media (max-width: 767px) {
  #Navbar {
    height: 0vh;
  }
}

@media (max-width: 599px) {
  #Logo_Container {
    width: 150px;
    padding: 35px;
  }
}

@media (min-width: 768px) {
  #Project_Div {
    flex-direction: row;
  }
}

@media (min-width: 1200px) {
  #Project_Div {
    width: 1200px;
  }
}

@media (max-width: 767px) {
  #Biography_Heading {
    margin-top: 5vh;
  }
}

#Biography_Content {
  height: 70vh;
  padding-bottom: 5vh;
}

@media (max-width: 767px) {
  #Biography_Content {
    height: 80vh;
  }
}

@media (min-width: 1200px) {
  #Project_Item {
    width: 400px;
    height: 400px;
  }
}

