#project_column {
  margin: 20px;
  padding: 10px 10px;
  text-align: center;
  font-family: 'Open Sans';
  font-size: small;
  /*box-shadow: 0 6px 20px 0 rgba(0, 0, 0, 0.39);*/
}

#project_image {
  border-width: 2px;
  border-style: solid;
  border-color: black;
  border-radius: 10px;
}

body {
  margin: 0;
  font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #212529;
  text-align: left;
  background-color: #fff;
}

@media (min-width: 768px) {
  #biography {
    height: 100vh;
    width: 100vw;
  }
}

@media (max-width: 767px) {
  #biography {
    height: 100vh;
    width: 100vw;
  }
}

@media (min-width: 1000px) {
  #Logos {
    width: 80vw;
    height: 50vh;
  }
}

@media (max-width: 999px) {
  #Logos {
    width: 100vw;
    height: 50vh;
  }
}

@media (min-width: 1000px) {
  #Bio-Text {
    width: 80vw;
    height: 15vh;
    font-family: 'Open Sans', sans-serif;
    font-size: 15px;
    margin-top: 5vh;
  }
}

@media (max-width: 999px) {
  #Bio-Text {
    width: 80vw;
    height: 40vh;
    margin-top: 10vh;
    font-family: 'Open Sans', sans-serif;
    font-size: 15px;
    align-items: center;
    justify-content: center;
    align-content: center;
  }
}

@media (min-width: 1000px) {
  #bio_paragraph {
    width: 50vw;
    height: 20vh;
    padding-right: 20px;
    padding-left: 20px;
    color: rgb(0,0,0);
  }
}

@media (max-width: 999px) {
  #bio_paragraph {
    width: 80vw;
    height: 30vh;
    padding-right: 20px;
    padding-left: 20px;
    color: rgb(0,0,0);
    text-align: center;
    justify-content: center;
    align-content: center;
    align-items: center;
  }
}

@media (min-width: 768px) {
  #Logo_Text_Container {
    width: 100vw;
    height: 85vh;
  }
}

@media (max-width: 767px) {
  #Logo_Text_Container {
    width: 100vw;
    height: 100vh;
  }
}

@media (min-width: 768px) {
  #Biography_Heading {
    height: 15vh;
  }
}

@media (max-width: 767px) {
  #Biography_Heading {
    height: 15vh;
    padding-top: 5vh;
  }
}

@media (min-width: 768px) {
  #projects {
    height: 100vh;
    width: 100vw;
  }
}

@media (max-width: 767px) {
  #projects {
    height: 200vh;
    width: 100vw;
  }
}

@media (min-width: 768px) {
  #Project_Div {
    width: 100vw;
    height: 65vh;
    margin-bottom: 5vh;
    flex-direction: row;
  }
}

@media (max-width: 767px) {
  #Project_Div {
    width: 100vw;
    height: 180vh;
    margin-bottom: 5vh;
    flex-direction: column;
  }
}

@media (min-width: 768px) {
  #project_image {
    width: 300px;
  }
}

@media (max-width: 767px) {
  #project_image {
    width: 200px;
  }
}

@media (min-width:768px) {
  .navbar-expand-md {
    -ms-flex-flow: row nowrap;
    flex-flow: row nowrap;
    -ms-flex-pack: start;
    justify-content: flex-start;
  }
}

@media (min-width:768px) {
  .navbar-expand-md .navbar-collapse {
    display: -ms-flexbox!important;
    display: flex!important;
    -ms-flex-preferred-size: auto;
    flex-basis: auto;
  }
}

@media (min-width:768px) {
  .navbar-expand-md .navbar-nav {
    -ms-flex-direction: row;
    flex-direction: row;
  }
}

@media (min-width:768px) {
  .navbar-expand-md > .container, .navbar-expand-md > .container-fluid {
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
  }
}

@media (min-width: 768px) {
  #Project_Container {
    width: 100vw;
    height: 150vh;
  }
}

@media (max-width: 767px) {
  #Project_Container {
    width: 100vw;
    height: 200vh;
  }
}

@media (min-width: 768px) {
  #photo {
    margin: 5vh;
    width: 40vh;
    height: 40vh;
  }
}

@media (max-width: 767px) {
  #photo {
    margin-top: 10vh;
    width: 40vh;
    height: 40vh;
    margin-bottom: 5vh;
  }
}

p {
  margin-top: 0;
  margin-bottom: 0;
}

@media (min-width: 1000px) {
  #Logo_Container {
    width: 25vw;
    height: 40vh;
    margin-bottom: 5vh;
  }
}

@media (max-width: 999px) {
  #Logo_Container {
    width: 40vw;
    height: 40vh;
    margin-right: 5vw;
    margin-left: 5vw;
    margin-bottom: 5vh;
  }
}

@media (max-width: 767px) {
  #Project_Item {
    margin: 3vw;
    padding: 15px;
    width: 80vh;
    height: 50vh;
  }
}

